.slider-container {
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
}

.slide {
  transform: translateX(100%);
  transition: transform 0.6s ease;
  height: 0;
  overflow: hidden;
}

.slide.active {
  transform: translateX(0);
  height: auto;
}

.slide-image {
  max-width: 60%;
  height: auto;
}

.title{
  width: 50%;
}

.flex-between-container{
  display: flex; 
  justify-content: space-between; 
}

.center-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.column{
  display: flex;
  margin: 10px 0;
  padding: 1px 10px;
  border-radius: 5px;
  border: 2px rgb(181, 184, 255) solid;
}

.tag {
  background:#00BB00;
  border-radius: 8px;
  padding: 5px 12px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 48px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.arrow.left {
  left: 12px;
}

.arrow.right {
  right: 12px;
}

@media (max-width: 1024px) {
  .title{
    width: 70%;
  }
}

@media (max-width: 752px) {
  .slide-image {
    max-width: 80%;
    height: auto;
  }
}
