<header>
  <div class="container header-container">
    <div class="logo">YUBAS</div>

    <!-- 漢堡按鈕（小螢幕顯示） -->
    <button class="hamburger" (click)="toggleMenu()">
      <span *ngIf="!menuOpen" class="material-icons">menu</span>
      <span *ngIf="menuOpen" class="material-icons">close</span>
    </button>

    <!-- 導航欄（大螢幕顯示） -->
    <nav [class.open]="menuOpen">
      <a href="#">關於我們</a>
      <a href="#">車隊專欄</a>
      <a href="#">部落格</a>
      <a href="#">常見問題</a>
      <a href="#" class="user-icon" aria-label="登入">
        <span class="material-icons">account_circle</span>
      </a>
    </nav>
  </div>
</header>

<main>
  <div class="container grid-container">
    <div class="card" *ngFor="let card of cards">
      <h3>{{ card.title }}</h3>
      <p>{{ card.description }}</p>
      <button>{{ card.button }}</button>
    </div>
  </div>

  <!-- 最新消息 -->
  <div class="container">
    <p class="section-title">最新消息</p>
    <div class="grid-container">
      <div class="card" *ngFor="let news of newsCards">
        <div class="card-image">
          <img [src]="news.imageUrl" [alt]="news.title">
        </div>
        <div class="line-clamp-1">
          <h3>{{ news.title }}</h3>
        </div>
        <div class="line-clamp-3">
          <p>{{ news.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 預約流程 -->
  <div class="container">
    <p class="section-title">預約流程</p>
    <div class="step-grid-container">
      <div class="card" *ngFor="let reserve of reserveCards let last = last" [ngClass]="{'arrow-card': !last}">
        <div class="card-image">
          <img [src]="reserve.imageUrl" [alt]="reserve.title">
        </div>
        <h3>{{ reserve.title }}</h3>
        <h4>{{ reserve.description }}</h4>
      </div>
    </div>
  </div>
</main>

<footer>
  <div class="container">
    &copy; COPYRIGHT © 2026 All Rights Reserved by YUBAS 機場接送
  </div>
</footer>
