<div class="dialog-header">
  <h4 class="main-title">線上預約 注意事項</h4>
  <span mat-button mat-dialog-close="true" class="material-icons" style="cursor: pointer;">
		close
	</span>
</div>

<div mat-dialog-content class="dialog-content">
	<!-- 電腦版 -->
	<ng-container *ngIf="!isMobile">
		<mat-tab-group>
			<mat-tab>
				<ng-template mat-tab-label>
					<span class="material-icons">
						attach_money
					</span>
					<h5>費用說明</h5>
				</ng-template>
				<div class="tab-body tab-grid-container">
					<div class="tab-grid">
						<h5>報價費用包含：</h5>
						<p>駕駛車資​、乘客保險費​、全程油資​、停車費​、ETC 費用</p>
					</div>
					<div class="tab-grid">
						<h5>報價費用不包含：</h5>
						<p>個人消費​、景點門票​、代購​、小費</p>
					</div>
					<div class="tab-grid">
						<h5>其他附加服務費用說明：</h5>
						<p>如需嬰兒座椅 / 兒童座椅 / 增高墊加價 $200（四歲以下法規強制規定安裝）。偏遠、山上地區額外加費(含在報價內)。若需舉牌服務請填寫正確舉牌姓名，並會加收 $300（日間夜間統一價格）。</p>
					</div>
					<div class="tab-grid">
						<h5>臨時取消預約說明：</h5>
						<p>如需變更預約內容，請透過官方LINE使用AI即時變更功能或聯繫客服協助變更。出發日前 24 小時，可至「我的行程」→「取消預約」自行取消，並退還 Yb 點數至您的會員帳戶中。出發日期 24 小時之內，視為臨時取消，因調度成本考量，本次費用將不於退還。</p>
					</div>
					<div class="tab-grid">
						<h5>清潔費用補償說明：</h5>
						<p>為提供每一位乘客舒適整潔的乘車環境，搭車時應保持車內整潔。若您乘車時，不慎於車內打翻食物或不適嘔吐導致車內髒污，造成車輛內部或外部髒污，服務司機有權利向您酌收取清潔費 3,000 - 5,000 元不等的清潔費用。</p>
					</div>
				</div>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
          <span class="material-icons">
						local_taxi
					</span>
					<h5>等候說明</h5>
				</ng-template>
				<div class="tab-body tab-grid-container">
					<div class="tab-grid">
						<h5>接機服務：</h5>
						<p>
							駕駛會於機場附近等候 60 分鐘，若有突發狀況請聯繫客服，若超過 90 分鐘仍無法與您取得聯繫，將會視同臨時取消，因調度成本考量，本次費用將不於退還。
						</p>
						<br>
						<p>
							班機延遲時間在 30 分鐘內，原配對駕駛將依航班實際抵達時間於現場等候 60 分鐘，若超過 30 分鐘客服會另外調度其他駕駛前往服務 (不額外收費)。
						</p>
						<br>
						<p>
							請留意「出發日期、時間」欄位填寫是否正確，駕駛會依預約實際時間前往等候接機。
						</p>
					</div>
					<div class="tab-grid">
						<h5>送機和其他服務：</h5>
						<p>
							送機的出發時間，請計算班機起飛往 + 車程時間 + 機場報到時間 2H（春節或連假3H）。
						</p>
						<br>
						<p>
							駕駛抵達出發地點時會有免費等待 30 分鐘服務，若超過時間無法與您取得聯繫，將視同臨時取消，因調度成本考量將不於退費。
						</p>
						<br>
						<p>
							送機時間應評估路況（塞車、中途停靠站……等）與路途長短，若非屬駕駛個人因素錯過搭機時間，本平台不予賠償責任。
						</p>
					</div>
				</div>
			</mat-tab>
			<mat-tab>
				<ng-template mat-tab-label>
          <span class="material-icons">
            handshake
          </span>
					<h5>服務承諾</h5>
				</ng-template>
				<div class="tab-body tab-grid-container">
					<div class="tab-grid">
						<h5>專業守時 服務行程透明可追蹤</h5>
						<p>
							我們重視每一位旅客的行程，準時接送是我們的核心承諾。若因駕駛個人因素導致延誤或未抵達，我們將提供額外賠償，並立即由人工協助調度替補車輛，確保您的旅程順暢不中斷。
						</p>
						<br>
						<p>
							同時，您也能在行程頁面即時查看駕駛的位置與行車進度，全程掌握、安心出發。
						</p>
					</div>
					<div class="tab-grid">
						<h5>安全可靠 有保障的服務系統</h5>
						<p>
							所有駕駛皆具備合法職業駕照，並通過完整背景審查，無任何刑事紀錄或重大交通違規／肇事紀錄。車輛均投保強制險及500萬元以上乘客第三人責任險。
						</p>
						<br>
						<p>
							此外，您可在預約行程頁面中查看駕駛的駕照、行照及保險證明，讓每趟旅程更透明、更安心。
						</p>
					</div>
				</div>
			</mat-tab>
		</mat-tab-group>
	</ng-container>
	<!-- 手機板 -->
	<ng-container *ngIf="isMobile">
    <div class="tab-label">
      <span class="material-icons">
        attach_money
      </span>
      <h5>費用說明</h5>
    </div>
		<div class="tab-body tab-grid-container">
			<div class="tab-grid">
				<h5>報價費用包含：</h5>
				<p>駕駛車資​、乘客保險費​、全程油資​、停車費​、ETC 費用</p>
			</div>
			<div class="tab-grid">
				<h5>報價費用不包含：</h5>
				<p>個人消費​、景點門票​、代購​、小費</p>
			</div>
			<div class="tab-grid">
				<h5>其他附加服務費用說明：</h5>
				<p>如需嬰兒座椅 / 兒童座椅 / 增高墊加價 $200（四歲以下法規強制規定安裝）。偏遠、山上地區額外加費(含在報價內)。若需舉牌服務請填寫正確舉牌姓名，並會加收 $300（日間夜間統一價格）。</p>
			</div>
			<div class="tab-grid">
				<h5>臨時取消預約說明：</h5>
				<p>如需變更預約內容，請透過官方LINE使用AI即時變更功能或聯繫客服協助變更。出發日前 24 小時，可至「我的行程」→「取消預約」自行取消，並退還 Yb 點數至您的會員帳戶中。出發日期 24 小時之內，視為臨時取消，因調度成本考量，本次費用將不於退還。</p>
			</div>
			<div class="tab-grid">
				<h5>清潔費用補償說明：</h5>
				<p>為提供每一位乘客舒適整潔的乘車環境，搭車時應保持車內整潔。若您乘車時，不慎於車內打翻食物或不適嘔吐導致車內髒污，造成車輛內部或外部髒污，服務司機有權利向您酌收取清潔費 3,000 - 5,000 元不等的清潔費用。</p>
			</div>
		</div>
    <div class="tab-label">
      <span class="material-icons">
        local_taxi
      </span>
		  <h5>等候說明</h5>
    </div>
		<div class="tab-body tab-grid-container">
			<div class="tab-grid">
				<h5>接機服務：</h5>
				<p>
					駕駛會於機場附近等候 60 分鐘，若有突發狀況請聯繫客服，若超過 90 分鐘仍無法與您取得聯繫，將會視同臨時取消，因調度成本考量，本次費用將不於退還。
				</p>
				<br>
				<p>
					班機延遲時間在 30 分鐘內，原配對駕駛將依航班實際抵達時間於現場等候 60 分鐘，若超過 30 分鐘客服會另外調度其他駕駛前往服務 (不額外收費)。
				</p>
				<br>
				<p>
					請留意「出發日期、時間」欄位填寫是否正確，駕駛會依預約實際時間前往等候接機。
				</p>
			</div>
			<div class="tab-grid">
				<h5>送機和其他服務：</h5>
				<p>
					送機的出發時間，請計算班機起飛往 + 車程時間 + 機場報到時間 2H（春節或連假3H）。
				</p>
				<br>
				<p>
					駕駛抵達出發地點時會有免費等待 30 分鐘服務，若超過時間無法與您取得聯繫，將視同臨時取消，因調度成本考量將不於退費。
				</p>
				<br>
				<p>
					送機時間應評估路況（塞車、中途停靠站……等）與路途長短，若非屬駕駛個人因素錯過搭機時間，本平台不予賠償責任。
				</p>
			</div>
		</div>
    <div class="tab-label">
      <span class="material-icons">
        handshake
      </span>
      <h5>服務承諾</h5>
    </div>
		<div class="tab-body tab-grid-container">
			<div class="tab-grid">
				<h5>專業守時 服務行程透明可追蹤</h5>
				<p>
					我們重視每一位旅客的行程，準時接送是我們的核心承諾。若因駕駛個人因素導致延誤或未抵達，我們將提供額外賠償，並立即由人工協助調度替補車輛，確保您的旅程順暢不中斷。
				</p>
				<br>
				<p>
					同時，您也能在行程頁面即時查看駕駛的位置與行車進度，全程掌握、安心出發。
				</p>
			</div>
			<div class="tab-grid">
				<h5>安全可靠 有保障的服務系統</h5>
				<p>
					所有駕駛皆具備合法職業駕照，並通過完整背景審查，無任何刑事紀錄或重大交通違規／肇事紀錄。車輛均投保強制險及500萬元以上乘客第三人責任險。
				</p>
				<br>
				<p>
					此外，您可在預約行程頁面中查看駕駛的駕照、行照及保險證明，讓每趟旅程更透明、更安心。
				</p>
			</div>
		</div>
	</ng-container>
</div>

<!-- <div mat-dialog-actions class="dialog-actions">
  <button mat-button mat-dialog-close="false">取消</button>
  <button mat-button color="primary" mat-dialog-close="true">
    確定
  </button>
</div> -->
