/* Main Grid */
main {
  background-color: rgba(0,0,0,0.9);
  min-height:calc(100vh - 140px); 
  padding:10px 0;
  margin: 35% 0 0 0;
}

.card { 
  background-color: rgba(0,0,0,0.7); 
  padding:1rem; 
  border-radius:6px; 
  border: 1px gray solid; 
  /* transition:transform .2s;  */
}

/* .card:hover { 
  transform:translateY(-5px);
 } */

.card button { 
  margin-top:1rem; 
  padding:.5rem 1rem; 
  background:#007bff; 
  border:none; 
  border-radius:4px; 
  cursor:pointer;
 }

.card button:hover { 
  background:#0056b3; 
}

.card p{
  color: rgb(181, 184, 255);
}

.card-image{
  width: 100%;
  aspect-ratio: 16 / 9;  /* 控制卡片圖片比例 */
  overflow: hidden;     /* 裁切超出部分 */
  border-radius: 6px 6px 0 0;
}

.card-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;    /* 填滿不變形 */
  display: block;
}

.arrow-card{
  position: relative;      /* 讓偽元素相對於父元素定位 */
  display: inline-block;   /* 或 block，依需求 */
}

/* 卡片的箭頭圖案 */
/* .arrow-card::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  animation: arrowMove 2s infinite linear;
  z-index: 1000;

  width: 48px;
  height: 48px;
  background-image: url('assets/arrow_right_48.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes arrowMove {
  0%, 50%, 100% { transform: translateY(-50%) translateX(0); }
  25% { transform: translateY(-50%) translateX(20px); }
} */

/* 章節標題 */
.section-title {
  margin: 3rem 0 10px 0;
  text-align: left;
  color: gold;
}

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* 水平置中 */
  align-items: center;
  white-space: pre-line;
  text-align: center; 
  margin: 10px 0 3rem 0;
}

.content-container button{
  padding: 1rem 5rem 1rem 5rem;
  border-radius: 30px;
  background: goldenrod;
  cursor:pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 320px));
  gap: 1.5rem;
  justify-content: center;
}

.grid-4-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 每行 4 個，平均分配寬度 */
  gap: 2rem;  
  justify-content: center;
}

.slideTemplate img{
  max-width: 80%;
  height: auto;
  border-radius: 15px;
}

.circle-image{
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  margin: 0 auto !important;
}

@media (max-width: 1024px) {
  main { 
    min-height:calc(100vh - 140px); 
    padding:10px 0;
    margin: 450px 0 0 0;
  }

  .grid-4-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 320px));
    gap: 1.5rem;
    justify-content: center;
  }
}

@media (max-width: 752px) {
  main { 
    min-height:calc(100vh - 140px); 
    padding:10px 0;
    margin: 300px 0 0 0;
  }

  .slideTemplate img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }

  .arrow-card{
    position: relative;      /* 讓偽元素相對於父元素定位 */
    display: inline-block;   /* 或 block，依需求 */
  }

  .arrow-card::after {
    content: "";
    position: absolute;
    top: 90%;       
    right: 35%;       
    transform: translateX(-50%);
    animation: arrowMoveDown 2s infinite linear;
    z-index: 1000;

    width: 48px;
    height: 48px;
    background-image: url('assets/arrow_down_48.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @keyframes arrowMoveDown {
    0%, 50%, 100% { transform: translateX(-50%) translateY(0); }
    25% { transform: translateX(-50%) translateY(20px); }
  }
}