/* .main-container Grid */
.main-container {
  background-color: rgba(0,0,0,0.9);
  min-height:calc(100vh - 140px); 
  padding:10px 0;
  margin: 33% 0 0 0;
}

.card { 
  background-color: rgba(0,0,0,0.7); 
  padding:1rem; 
  border-radius:6px; 
  border: 1px gray solid;
}

.card button {
  padding:0.5rem 1rem; 
  border-radius: 4px;
  background:#007bff;
  margin-top:1rem; 
 }

.card p{
  color: rgb(181, 184, 255);
}

.card-image{
  width: 100%;
  aspect-ratio: 16 / 9;  /* 控制卡片圖片比例 */
  overflow: hidden;     /* 裁切超出部分 */
  border-radius: 6px 6px 0 0;
}

.card-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;    /* 填滿不變形 */
  display: block;
}

/* 章節標題 */
.section-title {
  margin: 3rem 0 10px 0;
  text-align: left;
  color: gold;
}

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* 水平置中 */
  align-items: center;
  white-space: pre-line;
  text-align: center; 
  margin: 10px 0 3rem 0;
}

.content-container button{
  padding: 1rem 5rem 1rem 5rem;
  border-radius: 30px;
  background: goldenrod;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 320px));
  gap: 1.5rem;
  justify-content: center;
}

.grid-4-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 每行 4 個，平均分配寬度 */
  gap: 2rem;  
  justify-content: center;
}

.slideTemplate img{
  max-width: 80%;
  height: auto;
  border-radius: 15px;
}

.circle-image{
  width: 100px !important;
  height: 100px !important;
  border-radius: 50% !important;
  margin: 0 auto !important;
}

@media (max-width: 1280px) {
  .main-container { 
    min-height:calc(100vh - 140px); 
    padding:10px 0;
    margin: 600px 0 0 0;
  }
}

@media (max-width: 1024px) {
  .main-container { 
    min-height:calc(100vh - 140px); 
    padding:10px 0;
    margin: 400px 0 0 0;
  }

  .grid-4-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 320px));
    gap: 1.5rem;
    justify-content: center;
  }
}

@media (max-width: 752px) {
  .main-container { 
    min-height:calc(100vh - 140px); 
    padding:10px 0;
    margin: 280px 0 0 0;
  }

  .slideTemplate img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }
}