<main>
  <div class="container grid-container">
    <div class="card" *ngFor="let card of cards">
      <h3>{{ card.title }}</h3>
      <p>{{ card.description }}</p>
      <button>{{ card.button }}</button>
    </div>
  </div>

  <!-- 最新消息 -->
  <div class="container">
    <p class="section-title">最新消息</p>
    <div class="grid-container">
      <div class="card" *ngFor="let news of newsCards">
        <div class="card-image">
          <img [src]="news.imageUrl" [alt]="news.title">
        </div>
        <div class="line-clamp-1">
          <h3>{{ news.title }}</h3>
        </div>
        <div class="line-clamp-3">
          <p>{{ news.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- 預約流程 -->
  <div class="container">
    <p class="section-title">預約流程</p>
    <div class="step-grid-container">
      <div class="card" *ngFor="let reserve of reserveCards let last = last" [ngClass]="{'arrow-card': !last}">
        <div class="card-image circle-image">
          <img [src]="reserve.imageUrl" [alt]="reserve.title">
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
          <h3>{{ reserve.title }}</h3>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
          <h4>{{ reserve.description }}</h4>
        </div>
      </div>
    </div>
    <div class="content-container">
      <div class="content-title">輸入姓名、電話 註冊預約最高享 10% 回饋</div>
      <br>
      <button>
        <h2>註冊會員</h2>
      </button>
    </div>
  </div>

    <!-- 服務車型 -->
  <div class="container">
    <p class="section-title">服務車型</p>
    <div class="content-container">
      <div class="content-title">多元車型選擇，依人數與行程靈活安排</div>
      <br><br>
      <div class="content">
        {{ textContent }}
      </div>
      <br><br>
    </div>
  </div>
</main>