:host {
  background-color: rgba(0,0,0,0.9);
  flex: 1;
}

.main-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height:calc(100vh - 140px); 
}

.dots::after {
  content: '';
  display: inline-block;
  width: 1ch;
  text-align: left;
  animation: dots 2s steps(4, end) infinite;
}

@keyframes dots {
  0%   { content: ''; }
  25%  { content: '.'; }
  50%  { content: '..'; }
  75% { content: '...'; }
  100% { content: '....'; }
}