/* Reset & Base */
* { 
  margin:0;
  padding:0; 
  box-sizing:border-box; 
  color:#fff;
}

body, html {  
  font-family: Arial, Helvetica, sans-serif; 
}

/* 背景圖 */
body {
  background-image: url('https://static.wixstatic.com/media/9e5814_c78dcc6e1b134167a2fa78c762b744c7~mv2.png/v1/crop/x_0,y_137,w_1521,h_750,q_90,usm_0.66_1.00_0.01,enc_auto/9e5814_c78dcc6e1b134167a2fa78c762b744c7~mv2.png');
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 滾動時背景固定 */
}

/* Container */
.container { 
  width:90%; 
  max-width:1200px; 
  margin:0 auto;
}

a {
  text-decoration: none;
  color: inherit; /* 保留文字顏色 */
}

.line-clamp-1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.line-clamp-3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

@media (max-width: 1025px) {
  /* 背景圖 */
  body {
    background-image: url('https://static.wixstatic.com/media/9e5814_c78dcc6e1b134167a2fa78c762b744c7~mv2.png/v1/crop/x_0,y_137,w_980,h_750,q_90,usm_0.66_1.00_0.01,enc_auto/9e5814_c78dcc6e1b134167a2fa78c762b744c7~mv2.png');
    background-size:contain;
    background-repeat: repeat;
    background-attachment: fixed; /* 滾動時背景固定 */
  }
}
