@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset & Base */
* { 
  margin:0;
  padding:0; 
  line-height: 1.5;
  box-sizing:border-box; 
  color:#fff;
}

body, html {  
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 背景圖 */
body {
  background-image: url(assets/main_background.avif);
  background-size:cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* 滾動時背景固定 */
}

/* Container */
.container { 
  width:90%; 
  max-width:1200px; 
  margin:0 auto;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5 {
  font-weight: bold;
}

h5, .h5{
  font-size: 1.25rem;
}

.h4, h4 {
  font-size: calc(1.5rem + .3vw);
}

.h3, h3 {
  font-size: calc(2rem + .3vw);
}

.h2, h2 {
  font-size: calc(2.5rem + .3vw);
}

.h1, h1 {
  font-size: calc(3rem + .3vw);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 320px));
  gap: 1.5rem;
  justify-content: center;
}

.card { 
  background-color: rgba(0,0,0,0.7); 
  padding:1rem; 
  border-radius:6px; 
  border: 1px gray solid;
}

.card p{
  color: rgb(181, 184, 255);
}

.card-image{
  width: 100%;
  aspect-ratio: 16 / 9;  /* 控制卡片圖片比例 */
  overflow: hidden;     /* 裁切超出部分 */
  border-radius: 6px 6px 0 0;
}

.card-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;    /* 填滿不變形 */
  display: block;
}

.arrow-card{
  position: relative;      /* 讓偽元素相對於父元素定位 */
  display: inline-block;   /* 或 block，依需求 */
}

/* 卡片的箭頭圖案 */
/* .arrow-card::after {
  content: "";
  position: absolute;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  animation: arrowMove 2s infinite linear;
  z-index: 1000;

  width: 48px;
  height: 48px;
  background-image: url('assets/arrow_right_48.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@keyframes arrowMove {
  0%, 50%, 100% { transform: translateY(-50%) translateX(0); }
  25% { transform: translateY(-50%) translateX(20px); }
} */

a {
  text-decoration: none;
  color: inherit; /* 保留文字顏色 */
}

.line-clamp-1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.line-clamp-3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.snackbar-success .mat-mdc-snackbar-surface {
  background-color: #4caf50 !important;
}

.snackbar-error .mat-mdc-snackbar-surface {
  background-color: #f44336 !important;
}

/* 彈出視窗 */
.dark-dialog .mat-mdc-dialog-surface {
  background: black;
  border: 1px lightgray solid;
  display: flex;
  flex-direction: column;
}

.mat-mdc-autocomplete-panel{
  background: rgba(31, 41, 55) !important;
}

.mat-mdc-option{
  background: rgba(31, 41, 55) !important;
}

.mdc-list-item__primary-text{
  color: white !important;
}

@media (min-width: 1200px) {
  h5, .h5{
    font-size: 1.25rem;
  }

  .h4, h4 {
    font-size: 1.5rem;
  }

  .h3, h3 {
    font-size: 2rem;
  }

  .h2, h2 {
    font-size: 2.5rem;
  }

  .h1, h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1024px) {
  /* 背景圖 */
  body {
    background-image: url(assets/main_background.avif);
    background-size:contain;
    background-repeat: repeat;
    background-attachment: fixed; /* 滾動時背景固定 */
  }
}

@media (max-width: 768px) {
  html{
    font-size: 15px;
  }
}

@media (max-width: 752px) {
    /* 背景圖 */
    body {
      background-image: url(assets/main_background_mobile.avif);
      background-size:contain;
      background-repeat: repeat;
      background-attachment: fixed; /* 滾動時背景固定 */
    }

  .arrow-card::after {
    content: "";
    position: absolute;
    top: 90%;       
    right: 35%;       
    transform: translateX(-50%);
    animation: arrowMoveDown 2s infinite linear;
    z-index: 1000;

    width: 48px;
    height: 48px;
    background-image: url('assets/arrow_down_48.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @keyframes arrowMoveDown {
    0%, 50%, 100% { transform: translateX(-50%) translateY(0); }
    25% { transform: translateX(-50%) translateY(20px); }
  }
}